<div class="app-brand demo">
    <a href="/" class="app-brand-link" >
                <img src="assets/img/avatars/logoUkla.png" width="100px" height="90" />
  
    </a>
  
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  
  <div class="menu-inner-shadow"></div>
  
  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <br>
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Recipe</span>
    </li>
    <li class="menu-item">
      <a href="/CreatorRecipes" class="menu-link">
        <i class="menu-icon tf-icons bx bx-book"></i>
        <div data-i18n="Analytics">My Recipes</div>
      </a>
    </li>
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">User</span>
    </li>
    <li class="menu-item">
      <a href="/EditProfile" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div data-i18n="Analytics">Edit Profile</div>
      </a>
    </li>
  
  
  
  </ul>
  