<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">

<ng-template #secondDialog>

</ng-template>

  <div class="cardStyle" >
    <form action="" method="post" name="signupForm" id="signupForm">

      <img src="assets/img/avatars/logoUkla.png" id="signupLogo"/>

      <h2 class="formTitle">
        Validate Your Token </h2>

      <div class="inputDiv">
        <label class="inputLabel">Token</label>
        <input type="text" id="token" name="token"   [(ngModel)]="this.token" required>
      </div>



      <div class="buttonWrapper">
        <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary"
                (click)="verifiedToken()">
          <span>Continue</span>

        </button>
      </div>

    </form>
  </div>
</div>

