.app-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Adjust this as needed */
}

.app-brand-logo, .app-brand-text {
    margin: 0 auto; /* This centers the items horizontally */
}
