<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
<div class="container-xxl h-100 d-flex justify-content-center align-items-center">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center d-flex flex-column align-items-center">
                        <span class="app-brand-logo demo">
                            <img height="100px" src="assets/img/avatars/logoUkla.png" id="signupLogo"/>
                        </span>
                        <span class="app-brand-text demo text-body fw-bolder fs-3">Ukla</span>
                    </div>
                    <!-- /Logo -->
                    <br>
                    <br>
                    <h4 class="mb-4 fs-5">Warning: Deleting this account is permanent and cannot be undone. </h4>
                    <h4 class="mb-1 ">Are you sure you want to proceed with the deletion?</h4>
                    <br>
                    <br>
                    <form>
                        <div class="mb-4">
                            <button class="btn btn-primary d-grid w-100 fs-6" type="submit" (click)="delete()">Delete Account</button>
                            <front-loader *ngIf="loaderService.loading$ | async"></front-loader>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>
</div>