<div class="app-brand demo">
  <a href="/" class="app-brand-link" >
              <img src="assets/img/avatars/logoUkla.png" width="100px" height="90" />

  </a>

  <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
    <i class="bx bx-chevron-left bx-sm align-middle"></i>
  </a>
</div>

<div class="menu-inner-shadow"></div>

<ul class="menu-inner py-1">
  <!-- Dashboard -->
  <li class="menu-item">
    <a href="/Dashboard" class="menu-link">
      <i class="menu-icon tf-icons bx bx-home-circle"></i>
      <div data-i18n="Analytics">Dashboard</div>
    </a>
  </li>
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Recipe</span>
  </li>
  <li class="menu-item">
    <a href="/Recipes" class="menu-link">
      <i class="menu-icon tf-icons bx bx-book"></i>
      <div data-i18n="Analytics">Recipes</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="/Ingredients" class="menu-link">
      <i class="menu-icon tf-icons bx bx-basket"></i>
      <div data-i18n="Analytics">Ingredients</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="/Tags" class="menu-link">
      <i class="menu-icon tf-icons bx bx-tag"></i>
      <div data-i18n="Analytics">Tags</div>
    </a>
  </li>
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Allergy</span>
  </li>
  <li class="menu-item">
    <a href="/Allergies" class="menu-link">
      <i class="menu-icon tf-icons bx bx-dizzy"></i>
      <div data-i18n="Analytics">Allergies</div>
    </a>
  </li>
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">User</span>
  </li>
  <li class="menu-item">
    <a href="/Users" class="menu-link">
      <i class="menu-icon tf-icons bx bx-user"></i>
      <div data-i18n="Analytics">Users</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="/ReviewRecipes" class="menu-link">
      <i class="menu-icon tf-icons bx bx-user"></i>
      <div data-i18n="Analytics">Recipe Review </div>
    </a>
  </li>



</ul>
