<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
<div class="container-xxl h-100 d-flex justify-content-center align-items-center">
  <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
          <!-- Forgot Password -->
          <div class="card">
              <div class="card-body">
                  <!-- Logo -->
                  <div class="app-brand justify-content-center">
                      <a href="index.html" class="app-brand-link gap-2">
                          <span class="app-brand-logo demo">
                              <a href="/Login"><img height="50px" src="assets/img/avatars/logoUkla.png" id="signupLogo"/></a>
                          </span>
                          <span class="app-brand-text demo text-body fw-bolder">Ukla</span>
                      </a>
                  </div>
                  <!-- /Logo -->
                  <h4 class="mb-2">Forgot Password? 🔒</h4>
                  <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
                  <form>
                      <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input
                              type="text"
                              class="form-control"
                              id="email"
                              name="email"
                              placeholder="Enter your email"
                              [(ngModel)]="this.user.email"
                          />
                      </div>
                      <br>
                      <button (click)="sendPasswordToken()" class="btn btn-primary d-grid w-100">Send Reset Mail</button>
                      <front-loader *ngIf="loaderService.loading$ | async"></front-loader>

                  </form>
                  <br>
                  <div class="text-center">
                      <a href="/deleteAccount" class="d-flex align-items-center justify-content-center">
                          <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                          Back to login
                      </a>
                  </div>
              </div>
          </div>
          <!-- /Forgot Password -->
      </div>
  </div>
</div>
</div>