<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
<div class="container-xxl  h-100 d-flex justify-content-center align-items-center">
  <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
              <div class="card-body">
                  <!-- Logo -->
                  <div class="app-brand justify-content-center">
                      <a href="index.html" class="app-brand-link gap-2">
                          <span class="app-brand-logo demo">
                              <a href="/Login"><img height="50px" src="assets/img/avatars/logoUkla.png" id="signupLogo"/></a>
                          </span>
                          <span class="app-brand-text demo text-body fw-bolder">Ukla</span>
                      </a>
                  </div>
                  <!-- /Logo -->
                  <h4 class="mb-2">Sign-in to delete your profile</h4>
                  <p class="mb-4">Please sign-in to your account</p>
                  <form id="formAuthentication" class="mb-3">
                      <div class="mb-3">
                          <label class="form-label">Username</label>
                          <input type="text" class="form-control" style="width: 320px;" id="username" name="username"
                              placeholder="Enter your Username " autofocus [(ngModel)]="this.username" />
                      </div>
                      <div class="mb-3 form-password-toggle">
                          <br>
                          <div class="d-flex justify-content-between">
                              <label class="form-label" for="password">Password</label>
                              <a href="/forgetPassword">
                                  <small>Forgot Password?</small>
                              </a>
                          </div>
                          <div class="input-group input-group-merge">
                            <input
                              type="{{ showPassword ? 'text' : 'password' }}"
                              id="password"
                              class="form-control"
                              name="password"
                              placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                              aria-describedby="password"
                              [(ngModel)]="this.password"
                            />
                            <span class="input-group-text cursor-pointer" (click)="togglePassword()"><i class="bx bx-hide"></i></span>
                          </div>
                      </div>
                      <br>
                      <div class="mb-3">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="remember-me" />
                              <label class="form-check-label" for="remember-me"> Remember Me </label>
                          </div>
                      </div>
                      <br>
                      <div class="mb-3">
                          <button class="btn btn-primary d-grid w-100" type="submit" (click)="onSubmit()">Sign in</button>
                      </div>
                  </form>
              </div>
          </div>
          <!-- /Register -->
      </div>
  </div>
</div>
</div>
