<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy - Ukla</title>
</head>
<body>
  <header>
    <h1>Politique de Confidentialité</h1>
  </header>
  <main>
    <section>
      <h2>Collecte et Utilisation des Informations Personnelles:</h2>
      <p>Lorsque vous utilisez notre application, nous recueillons les informations personnelles que vous nous fournissez volontairement, telles que votre nom, votre prénom, votre adresse e-mail, votre sexe et votre âge. Nous utilisons ces informations pour créer et gérer votre compte sur notre application, ainsi que pour calculer vos besoins nutritionnels, y compris les calories, les protéines et d'autres éléments nutritifs, afin de vous fournir des recommandations personnalisées et une meilleure expérience utilisateur.</p>
    </section>
    <section>
      <h2>Partage des Informations Personnelles:</h2>
      <p>Nous ne partageons pas vos informations personnelles avec des tiers. Vos informations sont conservées de manière confidentielle et utilisées uniquement aux fins mentionnées ci-dessus.</p>
    </section>
    <section>
      <h2>Sécurité des Données:</h2>
      <p>Nous prenons la sécurité de vos données personnelles très au sérieux. Toutes les transmissions de données entre votre appareil et nos serveurs sont cryptées. De plus, notre base de données offre des fonctionnalités de sécurité robustes pour protéger vos informations. Les mots de passe des utilisateurs sont également cryptés pour garantir une protection supplémentaire.</p>
    </section>
    <section>
      <h2>Droits des Utilisateurs:</h2>
      <p>Vous avez le droit d'accéder et de modifier les données personnelles stockées dans votre profil à tout moment. De plus, vous pouvez demander la suppression de votre compte, ce qui entraînera la suppression permanente de toutes vos données personnelles de nos systèmes.</p>
    </section>
    <section>
      <h2>Contactez-Nous:</h2>
      <p>Si vous avez des questions ou des préoccupations concernant notre Politique de Confidentialité, veuillez nous contacter à <a href="mailto:contact@uklanutrition.com">contact@uklanutrition.com</a>.</p>
    </section>
  </main>
  <footer>
    <p>Cette Politique de Confidentialité est sujette à modification. Veuillez consulter régulièrement cette page pour toute mise à jour.</p>
    <p>Cette Politique de Confidentialité a été mise à jour le 19/02/2024.</p>
  </footer>
</body>
</html>
