
<body>
<nav
  class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar">
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <div class="navbar-nav align-items-center">

    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- Place this tag where you want the button to render. -->


      <button class="dropdown-item" (click)="onLogoutClick()" >
        <i class="bx bx-power-off me-2"></i>
        <span class="align-middle">Log Out</span>
      </button>
    </ul>
  </div>
</nav>
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-2 mx-2">You have no access!</h2>
    <p class="mb-4 mx-2">Sorry for the inconvenience, but you don't have access to this service now.
    </p>
    <div class="mt-4">
      <img
        src="../assets/img/illustrations/girl-doing-yoga-light.png"
        alt="girl-doing-yoga-light"
        width="500"
        class="img-fluid"
        data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
        data-app-light-img="illustrations/girl-doing-yoga-light.png"
      />
    </div>
  </div>
</div>
</body>
