<body>

  <!-- Back to Top -->
  <button (click)="onBackToTopClick()" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
          class="bi bi-arrow-up"></i></button>
  
  <!-- Navbar Start -->
  <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
  
    <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
      <div class="col-lg-6 px-5 text-start">
        
      </div>
      <div class="col-lg-6 px-5 text-end">
        <small><i class="fa fa-envelope text-primary me-2"></i>contact@uklanutrition.com</small>
        <small class="ms-4"><i class="fa fa-phone-alt text-primary me-2"></i>+216 20 146 658</small>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
      <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
        
        <img src="assets/img/logo-ukla.png" alt="logo" height="55" width="120" />
        
      </a>
      <button type="button" class="navbar-toggler me-4 " data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
     
          <a>Follow us</a>
        </div>
        <div class="d-none d-lg-flex ms-2">
       
          <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="https://www.instagram.com/ukla_nutrition/">
            <small class="fab fa-instagram text-primary"></small>
          </a>
          <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="https://www.linkedin.com/company/ukla-nutrition/?viewAsMember=true">
            <small class="fab fa-linkedin-in text-primary"></small>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <!-- Navbar End -->
  
  
  <!-- Carousel Start -->
  <div class="container-fluid p-0 mb-5 wow fadeIn">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" src="assets/img/carousel-0.png" alt="Image">
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-md-8">
                  <div>
                    <h1 class="display-1 mb-4 animated slideInDown">Never think about what to cook again</h1>
                  </div>
                  <div class="mb-4">
                    <strong style="color: #1F2232">Sign up for early access!</strong>
                  </div>
                  <form>
                    <div class="row g-3">
                      <div class="col-md-6 mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="this.newWait.email">
                      </div>
                      <div class="col-md-6">
                        <button [disabled]="isLoading" class="btn btn-primary py-2 px-5 animated slideInDown" type="submit" (click)="onSubmit()">
                          <span class="text-da">Join Our Wait List</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-4 d-none d-md-flex justify-content-center justify-content-md-end wow fadeInUp" data-wow-delay="0.3s">
                  <app-screenshot-carousel></app-screenshot-carousel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Carousel End -->
  
  
  <!-- Service Start  -->
  <div id="carouselSection" class="container-xxl service py-5">
    <div class="container">
      <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="display-5 mb-5">Awesome features for you to enjoy</h1>
      </div>
      <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="col-lg-4">
          <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4 nav-pills-buttons">
            <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active"
                    data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
              <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Week Planner</h5>
            </button>
  
            <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                    data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
              <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Healthy Recipes
              </h5>
            </button>
            <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0"
                    data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
              <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Grocery List</h5>
            </button>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="tab-content w-100">
            <div class="tab-pane fade show active" id="tab-pane-1">
              <div class="row g-4">
                <div class="col-md-6" style="min-height: 350px;">
                  <div class="position-relative h-100">
                    <img class="position-absolute rounded w-100 h-105" src="assets/img/weekplan.png"
                         style="object-fit: cover;" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="mb-4">Easily plan your meals for the whole week</h3>
                  <p class="mb-4">With the week plan feature you add the recipes that you want to cook for each meal to end up with a week full of deliciousness.</p>
                  <p><i class="fa fa-check text-primary me-3"></i>Calorie intake tracker</p>
                  <p><i class="fa fa-check text-primary me-3"></i>Recipe suggestions</p>
                  <p><i class="fa fa-check text-primary me-3"></i>Customisable meals</p>
                  <!-- <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a> -->
                </div>
              </div>
            </div>
  
            <div class="tab-pane fade" id="tab-pane-3">
              <div class="row g-4">
                <div class="col-md-6" style="min-height: 350px;">
                  <div class="position-relative h-100">
                    <img class="position-absolute rounded w-100 h-100" src="assets/img/reciperesized.png"
                         style="object-fit: cover;" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="mb-4">Different recipes to explore</h3>
                  <p class="mb-4">Enjoy an array of well explained recipes and nail them first try. Your family and friends won't believe the cook that you've become. </p>
                  <p><i class="fa fa-check text-primary me-3"></i>Step by step mode</p>
                  <p><i class="fa fa-check text-primary me-3"></i>Detailed videos</p>
                  <p><i class="fa fa-check text-primary me-3"></i>Nutritional facts</p>
                  <!-- <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a> -->
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-pane-4">
              <div class="row g-4">
                <div class="col-md-6" style="min-height: 350px;">
                  <div class="position-relative h-100">
                    <img class="position-absolute rounded w-100 h-100" src="assets/img/grocerylistresized.png"
                         style="object-fit: cover;" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="mb-4">Your grocery list automatically made for you</h3>
                  <p class="mb-4">After planning your recipes for the week, all the ingredients needed to cook those recipes will be added to your grocery list</p>
                  <p><i class="fa fa-check text-primary me-3"></i>Groupe ingredients by day/category </p>
                  <p><i class="fa fa-check text-primary me-3"></i>Note purchased ingredients</p>
                  <p><i class="fa fa-check text-primary me-3"></i>Only get what you need and save money on unused ingredients going bad</p>
                  <!-- <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  




  <!-- Recipe Start  -->
  <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s"
             style="max-width: 600px;padding-bottom: 40px; padding-top: 40px;">
          <h1 class="display-6">5 Benefits you will get when using Ukla </h1>
        </div>
        <br>
  <app-project-carousel></app-project-carousel>
      </div></div>
  
  
  
  
  
  <!-- Back to Top -->
  <button (click)="onBackToTopClick()" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
    class="bi bi-arrow-up"></i></button>
  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <!-- <h4 class="text-white mb-4">Our Office</h4> -->
          <h4 class="text-white mb-4">Contact</h4>
          <!-- <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>22 rue med chnik 1003 Tunis</p> -->
          <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+216 20 146 658</p>
          <p class="mb-2"><i class="fa fa-envelope me-3"></i>contact@uklanutrition.com</p>
          <div class="d-flex pt-2">
            <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.instagram.com/ukla_nutrition/"><i
              class="fab fa-instagram"></i></a>
            <!-- <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
              class="fab fa-facebook-f"></i></a> -->
            <a class="btn btn-square btn-outline-light rounded-circle me-2" href="https://www.linkedin.com/company/ukla-nutrition/?viewAsMember=true"><i
              class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-4">Wait List</h4>
          <p>  Join our waitlist now and be among the first to try Ukla</p>
          <div class="position-relative w-100">
            <input type="email" class="form-control bg-white border-0 w-100 py-3 ps-4 pe-5" type="text"
                   placeholder="Your email" name="email"  [(ngModel)]="this.newWait.email">
                  
            <button [disabled]="isLoading" type="button"
                    class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"  (click)="onSubmit()">Join
            </button>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-4"></h4>
          <p><a href="/privacyPolicy" style="color: white;">privacy policy</a></p>
          <p><a href="/termsOfUsage" style="color: white;">terms of usage</a></p>
          
        </div>
      </div>
    </div>
  
  </div>
  <!-- Footer End -->
  
  
  
  
  </body>
  