<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conditions d'Utilisation de l'application Ukla</title>
</head>
<body>
  <header>
    <h1>Conditions d'Utilisation de l'application Ukla</h1>
  </header>
  <main>
    <section>
      <h2>Utilisation de l'application</h2>
      <p>Bienvenue sur Ukla, une application mobile de planification des repas. Les présentes conditions d'utilisation (ou « Conditions ») régissent votre utilisation de l'application Ukla. En créant un compte ou en utilisant Ukla, vous acceptez ces conditions. Si vous avez des questions ou des préoccupations, veuillez nous contacter à <a href="mailto:contact@uklanutrition.com">contact@uklanutrition.com</a>.</p>
    </section>
    <section>
      <h3>1. Inscription et Comptes Utilisateurs:</h3>
      <p>Pour utiliser l'application Ukla, vous devez être âgé d'au moins 13 ans ou avoir l'âge minimum légal requis dans votre pays. Vous devez vous inscrire en fournissant des informations exactes et à jour, y compris votre nom, prénom, adresse e-mail, sexe et âge. Vous êtes responsable de la sécurité de vos identifiants de connexion.</p>
    </section>
    <section>
      <h3>2. Fonctionnalités de l'application:</h3>
      <p>Ukla offre des fonctionnalités pour planifier vos repas, suivre vos besoins nutritionnels et recevoir des recommandations personnalisées. Nous ne vendons pas vos données personnelles, mais nous vous montrerons des publicités pertinentes basées sur vos intérêts et votre activité.</p>
    </section>
    <section>
      <h3>3. Contenu Utilisateur:</h3>
      <p>Vous êtes responsable du contenu que vous publiez ou partagez sur Ukla. Ukla se réserve le droit de supprimer ou de modifier tout contenu enfreignant nos politiques ou les lois en vigueur. Vous conservez la propriété de votre contenu, mais vous accordez à Ukla une licence mondiale non exclusive pour l'utiliser conformément à vos paramètres de confidentialité.</p>
    </section>
    <section>
      <h3>4. Sécurité et Confidentialité:</h3>
      <p>Ukla met en œuvre des mesures de sécurité pour protéger vos données personnelles. Cependant, vous devez prendre vos propres précautions pour sécuriser vos informations. Veuillez lire notre Politique de Confidentialité pour plus d'informations sur la manière dont nous collectons, utilisons et protégeons vos données.</p>
    </section>
    <section>
      <h3>5. Publicités et Revenu:</h3>
      <p>Ukla affiche des publicités de manière à soutenir l'application et à garantir sa gratuité pour les utilisateurs. Nous utilisons vos données pour vous présenter des publicités plus pertinentes.</p>
    </section>
    <section>
      <h3>6. Modifications de l'application:</h3>
      <p>Ukla se réserve le droit de modifier ou de mettre à jour ces conditions ou l'application à tout moment. En cas de changement majeur, nous vous informerons en temps opportun.</p>
    </section>
    <section>
      <h3>7. Résiliation:</h3>
      <p>Vous pouvez désactiver ou supprimer votre compte à tout moment. Ukla peut résilier votre compte ou limiter votre accès en cas de violation de ces conditions.</p>
    </section>
    <section>
      <h2>Obligations et Restrictions</h2>
      <h3  style="margin-top: 20px;">8. Utilisations Interdites:</h3>
      <p>Vous ne devez pas utiliser Ukla à des fins illégales, frauduleuses ou nuisibles. Vous ne devez pas utiliser l'application pour transmettre du contenu illégal, inapproprié, offensant ou nuisible. Vous ne pouvez pas utiliser Ukla pour nuire à d'autres utilisateurs ou violer leurs droits. L'application est destinée à un usage personnel. Toute utilisation commerciale sans autorisation préalable est interdite.</p>
    </section>
    <section>
      <h3>9. Propriété Intellectuelle:</h3>
      <p>Ukla respecte les droits de propriété intellectuelle et attend de ses utilisateurs qu'ils fassent de même. Vous ne pouvez pas utiliser la propriété intellectuelle d'Ukla sans autorisation.</p>
    </section>
    <section style="margin-bottom: 80px;">
      <h2>Conclusion</h2>
      <p>Ces conditions régissent votre utilisation de l'application Ukla. En cas de questions ou de désaccords, n'hésitez pas à nous contacter à <a href="mailto:contact@uklanutrition.com">contact@uklanutrition.com</a>. Nous espérons que vous profiterez pleinement de votre expérience avec Ukla!</p>
    </section>
  </main>
  <footer>
    <p>Ces conditions sont sujettes à modification. Veuillez consulter régulièrement cette page pour toute mise à jour.</p>
    <p>Date de révision: 19/02/2024</p>
  </footer>
</body>
</html>
