<ng-template #secondDialog>

</ng-template>

<div class="mainDiv">
  <div class="cardStyle">
    <form action="" method="post" name="signupForm" id="signupForm">

      <a href="/Login"><img src="assets/img/avatars/logoUkla.png" id="signupLogo"/></a>

      <h2 class="formTitle">
        Validate Your Token </h2>

      <div class="inputDiv">
        <label class="inputLabel">Token</label>
        <input type="text" id="token" name="token"   [(ngModel)]="this.token" required>
      </div>



      <div class="buttonWrapper">
        <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary"
                (click)="verifiedToken()">
          <span>Continue</span>

        </button>
      </div>

    </form>
  </div>
</div>

