<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">

<ng-template #secondDialog>

</ng-template>

  <div class="cardStyle">
    <form action="" method="post" name="signupForm" id="signupForm">

      <a href="/Login"><img src="assets/img/avatars/logoUkla.png" id="signupLogo"/></a>

      <h2 class="formTitle">
        Reset Your Password </h2>

      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="passwordC">
      </div>

      <div class="buttonWrapper">
        <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary"
                (click)="newPassword()">
          <span>Continue</span>

        </button>
      </div>

    </form>
  </div>
</div>

